body {
    background-image: url("img/hhon.jpg");
    background-color: rgb(122, 121, 121);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(88, 86, 86), rgb(241, 241, 247);
    background-color: rgb(252, 252, 252);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}

.header {
    overflow: hidden;
    background-color: rgb(155, 160, 153);
    /*padding: 20px 10px;*/
}

.header img {
    height: 50px;
    width: 50px;
}

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: rgb(10, 10, 10);
    color: White;
}

.header a.active {
    color: white;
}

/* Float the link section to the right */
.header-Right {
    float: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 245, 125);
    color: rgb(13, 151, 75);
    text-align: center;
}

#content {
    color: maroon;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
}

.profile-image {
    text-align: center;
    /* Center the image */
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}